@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

button {
    display: block;
    color: inherit;
    border: none;
}

:root {
    font-family: Lato, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
    user-select: none;
}

#root {
    max-width: 562px;
    margin: 0 auto;
}

body {
    min-height: 100vh;
    background: url("/src/assets/images/background-filter.png"), url("/src/assets/images/background.png");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}